.navbar{
    background: red !important;
}
.card{
    background: #000 !important;
    color: #fff !important;
}

.display{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
height: 80vh;
}